<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

<!--header-->

<header class="navbar navbar-dark bg-dark ">
    <div class="container-fluid" style="padding: 5px">
        <div class="text-white float-left">
            <b class="font-weight-bold "  id = headerEmail></b>
            <span>with roles:</span>
            <span id = headerRoles></span>
        </div>
        <div class="float-right">
            <a class="text-secondary" href = "/logout">Logout</a>
        </div>
    </div>
</header>


<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="padding: 15px 0 0;">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#adminPanel">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#userPanel">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10 bg-light">
            <div class="tab-content" style="padding-top: 15px; height: 100vh">

                <!--main-->

                <div class="tab-pane fade show active" id="adminPanel">
                    <h2>Admin panel</h2>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" id="allUsersTable" href="#allUsers">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <!--admin-->

                        <div class="tab-pane fade show active" id="allUsers">
                            <div class="card">
                                <h5 class="card-header">All users</h5>
                                <div class="card-body text-center">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbodyAllUserTable">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!--Create-->

                        <div class="tab-pane fade" id="newUser">
                            <div class="form-group">
                                <div class="control-group required">
                                    <div class="card">
                                        <h5 class="card-header">Add new user</h5>
                                        <div class="card-body text-center">
                                            <div class="form justify-content-center mx-auto col-5">
                                                <form id="formNewUser" name="formNewUser">
                                                    <p>
                                                        <label class="container-fluid" for="newUserName"><strong>First name</strong>
                                                            <input class="form-control" type="text" name="name"
                                                                   id="newUserName"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserLastname"><strong>Last name</strong>
                                                            <input class="form-control" type="text" name="lastname"
                                                                   id="newUserLastname"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserAge"><strong>Age</strong>
                                                            <input class="form-control" type="number" name="age"
                                                                   id="newUserAge"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserPassword"><strong>Password</strong>
                                                            <input class="form-control" type="password" name="password"
                                                                   id="newUserPassword"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserEmail"><strong>Email</strong>
                                                            <input class="form-control" type="text" name="email"
                                                                   id="newUserEmail"/>
                                                        </label>
                                                    </p>
                                                    <label class="container-fluid"
                                                           for="newUserRoles"><strong>Role</strong>
                                                        <select id="newUserRoles" class="form-control" name="roles"
                                                                multiple size="2">

                                                        </select>
                                                    </label>
                                                    <button type="submit" id="newUserButton" class="btn btn-success">Add new user</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--user-->

                <div class="tab-pane fade" id="userPanel">
                    <h2>User information-page</h2>
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body text-center">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody id="userPanelBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--update-->

<div class="modal fade" id="edit" tabindex="-1" role="dialog"
     aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formEditUser">
                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group required">
                        <div class="controls">
                            <p>
                                <label for="idEditUser"><strong>ID</strong>
                                    <input class="form-control" type="number" name="id" id="idEditUser" disabled/>
                                </label>
                            </p>
                            <p>
                                <label for="nameEditUser"><strong>First name</strong>
                                    <input class="form-control" type="text" name="name" id="nameEditUser" />
                                </label>
                            </p>
                            <p>
                                <label for="lastnameEditUser"><strong>Last name</strong>
                                    <input class="form-control" type="text" name="lastname" id="lastnameEditUser" />
                                </label>
                            </p>
                            <p>
                                <label for="ageEditUser"><strong>Age</strong>
                                    <input class="form-control" type="number" name="age" id="ageEditUser" />
                                </label>
                            </p>
                            <p>
                                <label for="passwordEditUser"><strong>Password</strong>
                                    <input class="form-control" type="password" name="password" id="passwordEditUser" />
                                </label>
                            </p>
                            <p>
                                <label for="emailEditUser"><strong>Email</strong>
                                    <input class="form-control" type="text" name="email" id="emailEditUser" />
                                </label>
                            </p>
                            <label class="container-fluid col-6" for="rolesEditUser"><strong>Role</strong>
                                <select class="form-control" id="rolesEditUser" name="roles" multiple size="2">

                                </select>
                            </label>
                            <h1></h1>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="editFormCloseButton" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Delete-->

<div class="modal fade" id="delete" tabindex="-1" role="dialog"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formDelete">
                <div class="modal-header">
                    <h5 class="modal-title">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group required">
                        <div class="controls">
                            <p>
                                <label for="idDelete"><strong>ID</strong>
                                    <input class="form-control" type="number" name="id" id="idDelete" disabled>
                                </label>
                            </p>
                            <p>
                                <label for="nameDelete"><strong>First name</strong>
                                    <input class="form-control" type="text" name="name" id="nameDelete" disabled>
                                </label>
                            </p>
                            <p>
                                <label for="lastnameDelete"><strong>Last name</strong>
                                    <input class="form-control" type="text" name="lastname" id="lastnameDelete" disabled>
                                </label>
                            </p>
                            <p>
                                <label for="ageDelete"><strong>Age</strong>
                                    <input class="form-control" type="number" name="age" id="ageDelete" disabled>
                                </label>
                            </p>
                            <p>
                                <label for="emailDelete"><strong>Email</strong>
                                    <input class="form-control" type="text" name="email" id="emailDelete" disabled>
                                </label>
                            </p>
                            <label class="container-fluid col-6" for="rolesDeleteUser"><strong>Role</strong>
                                <select class="form-control" id="rolesDeleteUser" name="roles" multiple size="2" disabled>

                                </select>
                            </label>
                            <h1></h1>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="deleteFormCloseButton" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger btn btn-primary">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script type="text/javascript" src="../static/admin.js"></script>
<script type="text/javascript" src="../static/user.js"></script>
<script type="text/javascript" src="../static/create.js"></script>
<script type="text/javascript" src="../static/update.js"></script>
<script type="text/javascript" src="../static/delete.js"></script>
</body>
</html>